<div class="container">
  <div class="row">
    <div class="text-center">
      <h4>DEGREE Certificate</h4>
    </div>
    <div class="col-sm-12">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <img
            class="img-fluid rounded"
            src="../../../assets/images/1st sem degree certificate.jpg"
            alt=""
          />
        </div>
        <div class="col-sm-4">
          <img
            class="img-fluid rounded"
            src="../../../assets/images/2nd sem degree certificate.jpg"
            alt=""
          />
        </div>
        <div class="col-sm-4">
            <img
              class="img-fluid rounded"
              src="../../../assets/images/3rd sem degree certificate.jpg"
              alt=""
            />
          </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-sm-4">
          <img
            class="img-fluid rounded"
            src="../../../assets/images/4th sem degree certificate.jpg"
            alt=""
          />
        </div>
        <div class="col-sm-4">
          <img
            class="img-fluid rounded"
            src="../../../assets/images/5th sem degree certificate.jpg"
            alt=""
          />
        </div>
        <div class="col-sm-4">
            <img
              class="img-fluid rounded"
              src="../../../assets/images/6th sem Degree Certificate.jpg"
              alt=""
            />
          </div>
      </div>
    </div>
  </div>
</div>
