<h4 class="text-center">Kavya C V</h4>
<div class="text-center">
  <img class="img-fluid" src="../../assets/images/photo.jpg" alt="" />
</div>
<div class="container">
  <div class="row">
    <h4>Education Details</h4>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="card border-success mb-3" style="max-width: 18rem">
            <div class="card-header bg-transparent border-success fw-bold">
              SSLC
            </div>
            <div class="card-body text-success">
              <h5 class="card-title">School Name</h5>
              <p class="card-text">Year of Passing</p>
            </div>
            <div class="card-footer bg-transparent border-success">
              <a routerLink="sslc">
                View SSLC Certificate
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card border-success mb-3" style="max-width: 18rem">
            <div class="card-header bg-transparent border-success fw-bold">
              PUC
            </div>
            <div class="card-body text-success">
              <h5 class="card-title">College Name</h5>
              <p class="card-text">Year of Passing</p>
            </div>
            <div class="card-footer bg-transparent border-success">
              <a routerLink="puc">
                View PUC Certificate
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card border-success mb-3" style="max-width: 18rem">
            <div class="card-header bg-transparent border-success fw-bold">
              Degree
            </div>
            <div class="card-body text-success">
              <h5 class="card-title">Institute Name</h5>
              <p class="card-text">Year of Passing</p>
            </div>
            <div class="card-footer bg-transparent border-success">
              <a routerLink="degree">
                View Certificate
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
